@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import 'bootstrap';

body {
	padding-top: 50px;
}

.footer {
	margin-top: 40px;
	color: $gray-light;
	a {
		color: gray;
	}
}

.navbar-header{
    margin-left:8.3333% !important;
}
.content{
    margin-top:100px;
}

.alert {
	margin-top: 10px;
}

.well {
	margin-top: 20px;
}