	<footer>
		<div class="footer">
			<small>
				<%= link_to "sign up now!", "http://wwww.onemonthrails.com"%>
				Written by <%= link_to "me", "http://www.google.com"%>
			</small>
		</div>
	</footer>